.input-text {
  padding: 12px;
  font-size: 1.4rem;
  line-height: 1.14;
  font-weight: 400;
  color: var(--text-color);
  background-color: transparent;
  border: 1px solid #c7ccd1;
  border-radius: var(--base-radius);
  appearance: none;
  outline: none;
  transition: all 0.2s ease;
  caret-color: var(--grey-color);
}

.input-text::placeholder {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: var(--grey-color);
}

.input-text::placeholder::first-letter {
  text-transform: uppercase;
}
