:root {
  --btn-prime-bg: #2578f4;
  --btn-prime-hover: #3d86f3;
  --body-bg-light: linear-gradient(
    303.79deg,
    #f0c3fc -53.74%,
    #d7befc -4.64%,
    #bcb1fc 40.96%,
    #a1aefc 83.05%,
    #94bdfc 127.47%,
    #8ec5fc 170.73%
  );
  --body-bg-dark: linear-gradient(
    0deg,
    #84fab0 0%,
    #85f9bc 21.87%,
    #88f8d7 42.19%,
    #8bf6f5 60.94%,
    #8eddf5 80.73%,
    #8fd3f4 100%
  );
  --light-text-color: #fff;
  --dark-text-color: #202427;
  --grey-color: #8f99a3;
  --progress-color-pink: #ef5da8;
  --progress-color-purple: #5d5fef;
  --progress-light-bg: #2024271a;
  --progress-dark-bg: #8f99a3;
  --progress-card-light: #2024270d;
  --progress-card-dark: #ffffff0d;
  --edit-light-input: 0px 0px 8px 2px rgba(34, 60, 80, 0.33);
  --edit-dark-input: 0px 0px 8px 2px rgb(255 255 255 / 33%);
  --svg-color-light: filter: invert(9%) sepia(10%) saturate(885%)
    hue-rotate(163deg) brightness(94%) contrast(87%);
  --svg-color-dark: invert(99%) sepia(86%) saturate(0%) hue-rotate(220deg)
    brightness(105%) contrast(100%);
  --scroll-color-light: #2024271a;
  --scroll-color-dark: #8f99a3;
}

:root {
  --body-bg-gradient: var(--body-bg-light);
  --content-background: var(--light-text-color);
  --text-color: var(--dark-text-color);
  --progress-bg-color: var(--progress-light-bg);
  --progress-card-bg: var(--progress-card-light);
  --progress-card-text: var(--dark-text-color);
  --edit-input: var(--edit-light-input);
  --todo-content-color: var(--dark-text-color);
  --svg-todo-color: var(--svg-color-light);
  --scroll-color: var(--scroll-color-light);
  --base-radius: 8px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg-gradient: var(--body-bg-dark);
    --content-background: var(--dark-text-color);
    --text-color: var(--grey-color);
    --progress-bg-color: var(--progress-dark-bg);
    --progress-card-text: var(--light-text-color);
    --progress-card-bg: var(--progress-card-dark);
    --edit-input: var(--edit-dark-input);
    --svg-todo-color: var(--svg-color-dark);
    --todo-content-color: var(--light-text-color);
    --scroll-color: var(--scroll-color-dark);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  min-height: 100dvh;
  font-family: Inter, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--body-bg-gradient);
}
